| Componente              | Archivo/Función sugerida            | Descripción                                |
| ----------------------- | ----------------------------------- | ------------------------------------------ |
| Registro de operaciones | `internal/log/log.go`               | Leer/escribir operaciones a disco          | DONE 
| Estructura de mensajes  | `internal/message/message.go`       | Formato JSON común                         | DONE
| Identidad del nodo      | `internal/peer/id.go`               | Carga/genera un ID único para el peer      | DONE (use the function from google uuid)
| Broadcast               | `peer.BroadcastMessage(msg)`        | Replica comandos a todos los nodos         | DONE
| Sincronización          | `peer.HandleSync()` + `ReplayLog()` | Reenvía operaciones a peers reincorporados | DONE

install: go get github.com/google/uuid


